# Data Structures
- tuple
- list
- dict
- set

## tuple

A tuple is a one dimensional, fixed-length, and immutable sequence.

In [1]:
# Create a tuple
tup = (1, 2, 3)
tup

(1, 2, 3)

In [2]:
# Convert to a tuple:
list_1 = [1, 2, 3]
type(tuple(list_1))

tuple

In [3]:
# Create a nested tuple:
nested_tup = ([1, 2, 3], (4, 5))
nested_tup

([1, 2, 3], (4, 5))

In [4]:
# Access a tuple's elements by index O(1):
nested_tup[0]

[1, 2, 3]

In [5]:
# Although tuples are immutable, their contents can contain mutable objects
nested_tup[0].append(4)
nested_tup[0]

[1, 2, 3, 4]

In [6]:
# Concatenate tuples by creating a new tuple and copying objects:
(1, 3, 2) + (4, 5, 6)

(1, 3, 2, 4, 5, 6)

In [7]:
# Multiply tuples to copy references to objects
# Objects themselves are not copied
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

In [8]:
# Unpack tuples
a, b = nested_tup
a, b

([1, 2, 3, 4], (4, 5))

In [9]:
# Unpack nested tuples
(a, b, c, d), (e, f) = nested_tup
a, b, c, d, e, f

(1, 2, 3, 4, 4, 5)

In [10]:
# Iterate over sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(a, b, c)

1 2 3
4 5 6
7 8 9

## list
A list is a one-dimensional, variable-length, and mutable sequence.

In [11]:
# Create a list

In [12]:
list_1 = [1, 2, 3]
list_1

[1, 2, 3]

In [13]:
# Convert to a list
type(list(tup))

list

In [14]:
# Create a nested list
nested_list = [(1, 2, 3), [4, 5]]
nested_list

[(1, 2, 3), [4, 5]]

In [15]:
# Access a lists's elements by index O(1)
nested_list[1]

[4, 5]

In [16]:
# Append an element to a list O(1)
nested_list.append(6)
nested_list

[(1, 2, 3), [4, 5], 6]

In [17]:
# Insert an element at an index O(n)
# Expensive as it has to shift elements O(n)
nested_list.insert(0, 'start')
nested_list

['start', (1, 2, 3), [4, 5], 6]

In [18]:
# Remove and return an element from an index
# Expensive as it has to shift elements O(n)
nested_list.pop(0)
nested_list

[(1, 2, 3), [4, 5], 6]

In [19]:
# Locate the first such value and remove it O(n)
nested_list.remove((1, 2, 3))
nested_list

[[4, 5], 6]

In [20]:
# Check if a list contains value O(n)
6 in nested_list

True

In [21]:
# Concatenate lists by creating a new list and copying objects
[1, 3 ,2] + [4, 5, 6]

[1, 3, 2, 4, 5, 6]

In [22]:
# Extend a list by appending elements
# Faster than concatenate as it does not have to create a new list
nested_list.extend([7, 8, 9])
nested_list

[[4, 5], 6, 7, 8, 9]

# dict
A dict is also known as a hashmap or associative array. A dict is a mutable dollection of key-value pairs.

In [25]:
# Create a dict
dict_1 = {'a' : 'foo', 'b' : [0, 1, 2,3]}
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [26]:
# Access a dict's elements by index O(1)
dict_1['b']

[0, 1, 2, 3]

In [27]:
# Insert of set a dict's elements by index O(1)
dict_1[5] = 'bar'
dict_1

{'a': 'foo', 'b': [0, 1, 2, 3], 5: 'bar'}

In [28]:
# Check in a dict contains a key O(1)
5 in dict_1

True

In [30]:
# Delete a value from a dict O(1)
dict_2 = dict(dict_1)
del dict_2[5]
dict_2

{'a': 'foo', 'b': [0, 1, 2, 3]}

In [31]:
# Remove and return an element from a specified index O(1)
value = dict_2.pop('b')
print(value)
print(dict_2)

[0, 1, 2, 3]
{'a': 'foo'}

In [34]:
# Get or pop can be called with a default value if the key is not found
# By default, get() returns None and pop() throws an exception
value = dict_1.get('z', 0)
value

0

In [35]:
# Return a default value of the key is not found
print(dict_1.setdefault('b', None))
print(dict_1.setdefault('z', None))

[0, 1, 2, 3]
None

In [36]:
# defaultdict() lets you specify the default when the container is initialized
# Works well if the default is appropriate for all keys
from collections import defaultdict

seq = ['foo', 'bar', 'baz']
first_letter = defaultdict(list)
for elem in seq:
    first_letter[elem[0]].append(elem)
first_letter

defaultdict(list, {'f': ['foo'], 'b': ['bar', 'baz']})

In [37]:
# dict keys must be "hashable", i.e. they must be immutable objects like scalars
# (int, float, string) or tuples whose objects are all immutable
# Lists are mutable and therefore are not hashable, although you can convert the
# list portion to a tuple as a quick fix.
print(hash('string'))
print(hash((1, 2, (3, 4))))

205330151
1229485614

In [38]:
# Get the list of keys (no order, but the same output)
# Python 3 returns an interator instead of a list
dict_1.keys()

dict_keys(['a', 'b', 5, 'z'])

In [39]:
# Get the list of values (no order, but the same output)
# Python 3 returns an iterator instead of a list
dict_1.values()

dict_values(['foo', [0, 1, 2, 3], 'bar', None])

In [42]:
# Iterate over a dict's keys and values
for key, value in dict_1.items():
    print(key, value)

a foo
b [0, 1, 2, 3]
5 bar
z None

In [44]:
# Merge one dict into another
dict_1.update({'e': 'elephant', 'f' : 'fish'})
dict_1

{'a': 'foo',
 'b': [0, 1, 2, 3],
 5: 'bar',
 'z': None,
 'e': 'elephant',
 'f': 'fish'}

In [45]:
# Pair up two sequences element-wise in a dict
mapping = dict(zip(range(7), reversed(range(7))))
mapping

{0: 6, 1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 0}

## set
A set is an unordered sequence of unique elements

In [47]:
# Create a set
set_1 = set([0, 1, 2, 3, 4, 5])
set_1

{0, 1, 2, 3, 4, 5}

In [48]:
set_2 = set([1, 2, 3, 5, 8, 13])
set_2

{1, 2, 3, 5, 8, 13}

In [49]:
# Sets support set operations like union, intersection, difference, and symmetric
# difference
# Union O(len(set_1) + len(set_2))
set_1 | set_2

{0, 1, 2, 3, 4, 5, 8, 13}

In [50]:
# Intersection O(min(len(set_1), len(set_2)))
set_1 & set_2

{1, 2, 3, 5}

In [51]:
# Difference O(len(set_1))
set_1 - set_2

{0, 4}

In [52]:
# Symmetric difference O(len(set_1))
set_1 ^ set_2

{0, 4, 8, 13}

In [53]:
# Subset O(len(set_3))
set_3 = {1, 2, 3}
set_3.issubset(set_2)

True

In [54]:
# Superset O(len(set_3))
set_2.issuperset(set_3)

True

In [55]:
# Equal O(min(len(set_1), len(set_2)))
{1, 2, 3} == {3, 2, 1}

True