# Dates and Times
- Basics
- strftime
- strptime
- timedelta

## Basics

In [1]:
from datetime import datetime, date, time

In [2]:
year = 2018
month = 1
day = 20
hour = 7
minute = 28
second = 15

In [3]:
dt = datetime(year, month, day, hour, minute, second)

In [4]:
dt.hour, dt.minute, dt.second

(7, 28, 15)

In [5]:
# Extract date
dt.date()

datetime.date(2018, 1, 20)

In [6]:
# Extract time
dt.time()

datetime.time(7, 28, 15)

In [7]:
# When aggregating or grouping time series data, it is sometimes useful to
# replace fields of a series of datetimes such as zeroing out fields
dt.replace(minute=0, second=0)

datetime.datetime(2018, 1, 20, 7, 0)

## strftime

In [8]:
# Format a datetime string
dt.strftime('%m/%d/%Y %H:%M')

'01/20/2018 07:28'

## strptime

In [10]:
# Convert a string to a datetime object
datetime.strptime('20180120', '%Y%m%d')

datetime.datetime(2018, 1, 20, 0, 0)

## timedelta

In [16]:
# Get the current datetime
dt_now = datetime.now()

In [19]:
# Subtract two datetime fields to create a time delta
delta = dt_now - dt
delta

datetime.timedelta(179, 15931, 470702)

In [20]:
# Adda datetime and a timedelta to get a new datetime
dt + delta

datetime.datetime(2018, 7, 18, 11, 53, 46, 470702)